flows.json
[{"id":"3827b8c0.6c5468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40b8cf94.34e39","type":"telegrambot-config","botname":"heroku","usernames":"","chatIds":"","pollInterval":"300"},{"id":"7e6baf98.69239","type":"ui_group","name":"TEST DEMO","tab":"85a5817c.1b7c5","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"85a5817c.1b7c5","type":"ui_tab","name":"HYBUILD Demo status check","icon":"dashboard","disabled":false,"hidden":false},{"id":"86d55184895f5e0d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"126016e.fdf9fe9","type":"ui_text","z":"3827b8c0.6c5468","group":"7e6baf98.69239","order":1,"width":0,"height":0,"name":"","label":"PING","format":"{{msg.payload}} HYBUILD demo sites","layout":"row-spread","className":"","x":90,"y":60,"wires":[]},{"id":"e9059fc7.23b57","type":"change","z":"3827b8c0.6c5468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://nodered-on-cloud.herokuapp.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[["96b9608d.b4d69"]]},{"id":"60b78e88.8ae0e","type":"comment","z":"3827b8c0.6c5468","name":"Github","info":"[https://github.com/hybuild-project/nodered-heroku](https://github.com/hybuild-project/nodered-heroku)","x":570,"y":120,"wires":[]},{"id":"e1ef8570.fdbf48","type":"comment","z":"3827b8c0.6c5468","name":"Telegram token","info":"2006109601:AAEN5LjgXMaxsTWQSLKRdvapGHxcDINhUbU","x":600,"y":160,"wires":[]},{"id":"7ebab4ec.971c4c","type":"comment","z":"3827b8c0.6c5468","name":"Heroku dashboard","info":"[https://dashboard.heroku.com/apps/nodered-on-cloud](https://dashboard.heroku.com/apps/nodered-on-cloud)","x":610,"y":80,"wires":[]},{"id":"96b9608d.b4d69","type":"telegrambot-notify","z":"3827b8c0.6c5468","name":"my chat","bot":"40b8cf94.34e39","chatId":"1269409529","message":"","parseMode":"","x":440,"y":220,"wires":[]},{"id":"a70280736399b4c6","type":"telegrambot-command","z":"3827b8c0.6c5468","name":"/start","bot":"40b8cf94.34e39","command":"/start","commandType":"str","commandCase":false,"x":90,"y":220,"wires":[["e9059fc7.23b57","7f1b75a8d65eb887","4f43bd224fc76d72","19a55cd6d69e47ee"]]},{"id":"7f1b75a8d65eb887","type":"http request","z":"3827b8c0.6c5468","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://hybuild-pink-bems.loca.lt","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":280,"wires":[["d99f126f2c62a2e8","ec68ab61ec4e0413"]]},{"id":"4f43bd224fc76d72","type":"http request","z":"3827b8c0.6c5468","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://hybuild-alm-bems.loca.lt","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":400,"wires":[["3df8bba9edbd252c","c225c2a4cf470fb3"]]},{"id":"19a55cd6d69e47ee","type":"http request","z":"3827b8c0.6c5468","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://hybuild-agl-bems.loca.lt","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":520,"wires":[["2c3992ec7766904e","8ada833c965498e9"]]},{"id":"d99f126f2c62a2e8","type":"change","z":"3827b8c0.6c5468","name":"404?","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not($trim(payload)=\"404\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["00b91a72df0bc9ea"]]},{"id":"3df8bba9edbd252c","type":"change","z":"3827b8c0.6c5468","name":"404?","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not($trim(payload)=\"404\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["b59102e37b56945e"]]},{"id":"2c3992ec7766904e","type":"change","z":"3827b8c0.6c5468","name":"404?","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not($trim(payload)=\"404\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["63df6662e9466a9c"]]},{"id":"00b91a72df0bc9ea","type":"ui_switch","z":"3827b8c0.6c5468","name":"","label":"PINK","tooltip":"","group":"7e6baf98.69239","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","animate":false,"className":"","x":590,"y":280,"wires":[[]]},{"id":"ec68ab61ec4e0413","type":"ui_template","z":"3827b8c0.6c5468","group":"7e6baf98.69239","name":"","order":5,"width":0,"height":0,"format":"PINK\n<textarea rows=\"7\" cols=\"7\">\n    {{msg.payload}}\n</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":440,"y":320,"wires":[[]]},{"id":"c225c2a4cf470fb3","type":"ui_template","z":"3827b8c0.6c5468","group":"7e6baf98.69239","name":"","order":6,"width":0,"height":0,"format":"ALM\n<textarea rows=\"7\" cols=\"7\">\n    {{msg.payload}}\n</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":440,"y":440,"wires":[[]]},{"id":"8ada833c965498e9","type":"ui_template","z":"3827b8c0.6c5468","group":"7e6baf98.69239","name":"","order":7,"width":0,"height":0,"format":"AGL\n<textarea rows=\"7\" cols=\"7\">\n    {{msg.payload}}\n</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":440,"y":560,"wires":[[]]},{"id":"5c48e1ca04664295","type":"ui_button","z":"3827b8c0.6c5468","name":"","group":"7e6baf98.69239","order":8,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":280,"wires":[["7f1b75a8d65eb887","4f43bd224fc76d72","19a55cd6d69e47ee"]]},{"id":"b59102e37b56945e","type":"ui_switch","z":"3827b8c0.6c5468","name":"","label":"ALM","tooltip":"","group":"7e6baf98.69239","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","animate":false,"className":"","x":590,"y":400,"wires":[[]]},{"id":"63df6662e9466a9c","type":"ui_switch","z":"3827b8c0.6c5468","name":"","label":"AGL","tooltip":"","group":"7e6baf98.69239","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-circle","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-circle","offcolor":"red","animate":false,"className":"","x":590,"y":520,"wires":[[]]},{"id":"d1d284bbfacd49c5","type":"ui_ui_control","z":"3827b8c0.6c5468","name":"","events":"all","x":100,"y":340,"wires":[["19a55cd6d69e47ee","4f43bd224fc76d72","7f1b75a8d65eb887"]]}]