utils/file-browse-flows.json
[{"id":"1f0274a4dfdeb367","type":"tab","label":"FS","disabled":false,"info":""},{"id":"53035f704bb7e6be","type":"inject","z":"1f0274a4dfdeb367","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"change","payload":"/app","payloadType":"str","x":90,"y":240,"wires":[["be8f219082382d87","85090a46f8fa54c4"]]},{"id":"ced80261c7808b0f","type":"ui_button","z":"1f0274a4dfdeb367","name":"","group":"160e81fb.f1c86e","order":12,"width":2,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","topicType":"str","x":80,"y":80,"wires":[["be8f219082382d87"]]},{"id":"31aa125dbda0cefa","type":"ui_button","z":"1f0274a4dfdeb367","name":"","group":"160e81fb.f1c86e","order":6,"width":2,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"str","topic":"","x":90,"y":280,"wires":[["0b135f82c4167c37"]]},{"id":"f7cd5aa1b1cc81c8","type":"function","z":"1f0274a4dfdeb367","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":280,"wires":[["9abed70c1a84e163"]]},{"id":"9abed70c1a84e163","type":"file","z":"1f0274a4dfdeb367","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":940,"y":280,"wires":[[]]},{"id":"6d1fb9900e550934","type":"http in","z":"1f0274a4dfdeb367","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["f4845b5f01b3459e"]]},{"id":"4426891007434b2f","type":"http response","z":"1f0274a4dfdeb367","name":"","statusCode":"","headers":{},"x":930,"y":440,"wires":[]},{"id":"f4845b5f01b3459e","type":"function","z":"1f0274a4dfdeb367","name":"Get filename","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[["61f9b4a564ad6ffc"]],"outputLabels":["Folder selected"]},{"id":"61f9b4a564ad6ffc","type":"file in","z":"1f0274a4dfdeb367","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":440,"wires":[["301011cc86b7bb5a"]]},{"id":"301011cc86b7bb5a","type":"change","z":"1f0274a4dfdeb367","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":440,"wires":[["4426891007434b2f"]]},{"id":"0c138e847437e572","type":"ui_button","z":"1f0274a4dfdeb367","name":"","group":"160e81fb.f1c86e","order":8,"width":2,"height":1,"passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","topicType":"str","x":90,"y":360,"wires":[["49f1528d3aa277ab"]]},{"id":"49f1528d3aa277ab","type":"function","z":"1f0274a4dfdeb367","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":360,"wires":[["e04a6b965975de4c"]]},{"id":"e04a6b965975de4c","type":"file in","z":"1f0274a4dfdeb367","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":360,"wires":[["3d4282e9e0897475"]]},{"id":"3d4282e9e0897475","type":"csv","z":"1f0274a4dfdeb367","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":610,"y":360,"wires":[["ac74a4bce6617ee6"]]},{"id":"ac74a4bce6617ee6","type":"function","z":"1f0274a4dfdeb367","name":"Format data","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\n\n/*\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n*/\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"time\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].time, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\n\n\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":360,"wires":[["fa1750f1405d7cfd","2335365d4a57db45"]]},{"id":"fa1750f1405d7cfd","type":"ui_chart","z":"1f0274a4dfdeb367","name":"","group":"ddb72df8452ba7d7","order":1,"width":24,"height":6,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":340,"wires":[[]]},{"id":"36e25e118ac16fe2","type":"ui_toast","z":"1f0274a4dfdeb367","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"","name":"Confirmation","x":450,"y":280,"wires":[["e7b0b9da37e7d796"]]},{"id":"0b135f82c4167c37","type":"change","z":"1f0274a4dfdeb367","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":280,"wires":[["36e25e118ac16fe2"]]},{"id":"e7b0b9da37e7d796","type":"switch","z":"1f0274a4dfdeb367","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":280,"wires":[["f7cd5aa1b1cc81c8"]]},{"id":"be8f219082382d87","type":"function","z":"1f0274a4dfdeb367","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    if (folder===\"\") folder=\"/\";\n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["bac1d476a4d0ef55","956b362d3c90f8d8"]]},{"id":"bac1d476a4d0ef55","type":"ui_text","z":"1f0274a4dfdeb367","group":"160e81fb.f1c86e","order":2,"width":20,"height":1,"name":"","label":"Folder:","format":"{{msg.payload.start}}","layout":"row-left","className":"","x":610,"y":180,"wires":[]},{"id":"64d7b8680fb5a101","type":"ui_button","z":"1f0274a4dfdeb367","name":"","group":"160e81fb.f1c86e","order":1,"width":2,"height":1,"passthru":false,"label":"Parent","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"up","topicType":"str","x":90,"y":160,"wires":[["be8f219082382d87"]]},{"id":"e030d0f2300f0ba1","type":"ui_button","z":"1f0274a4dfdeb367","name":"","group":"160e81fb.f1c86e","order":7,"width":2,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","className":"","icon":"home","payload":"/app","payloadType":"str","topic":"change","topicType":"str","x":90,"y":120,"wires":[["be8f219082382d87"]]},{"id":"13d5391a3c7fd608","type":"ui_switch","z":"1f0274a4dfdeb367","name":"","label":"Hidden","tooltip":"Show hidden files or not","group":"160e81fb.f1c86e","order":3,"width":2,"height":1,"passthru":false,"decouple":"false","topic":"hidden","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","x":80,"y":200,"wires":[["be8f219082382d87"]]},{"id":"2335365d4a57db45","type":"ui_chart","z":"1f0274a4dfdeb367","name":"","group":"af2fe563cfd2cfa6","order":1,"width":6,"height":4,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":380,"wires":[[]]},{"id":"85090a46f8fa54c4","type":"ui_button","z":"1f0274a4dfdeb367","name":"","group":"160e81fb.f1c86e","order":10,"width":2,"height":1,"passthru":false,"label":"Desktop","tooltip":"","color":"","bgcolor":"","className":"","icon":"computer","payload":"{\"group\":{\"show\":[\"Files_Desktop\"],\"hide\":[\"Files_Mobile\"]}}","payloadType":"json","topic":"","topicType":"str","x":280,"y":240,"wires":[["973fa9e08c8aee33"]]},{"id":"973fa9e08c8aee33","type":"ui_ui_control","z":"1f0274a4dfdeb367","name":"","events":"all","x":440,"y":240,"wires":[[]]},{"id":"b6d2651503377b9d","type":"ui_button","z":"1f0274a4dfdeb367","name":"","group":"160e81fb.f1c86e","order":11,"width":2,"height":1,"passthru":false,"label":"Mobile","tooltip":"","color":"","bgcolor":"","className":"","icon":"smartphone","payload":"{\"group\":{\"show\":[\"Files_Mobile\"],\"hide\":[\"Files_Desktop\"]}}","payloadType":"json","topic":"","topicType":"str","x":610,"y":240,"wires":[["f740fdf5197ffcf3"]]},{"id":"f740fdf5197ffcf3","type":"ui_ui_control","z":"1f0274a4dfdeb367","name":"","events":"all","x":760,"y":240,"wires":[[]]},{"id":"8acb2b7c94f075e9","type":"change","z":"1f0274a4dfdeb367","name":"change directory","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"change","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[["be8f219082382d87"]]},{"id":"5f1be4ecc1b1bfe1","type":"change","z":"1f0274a4dfdeb367","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":120,"wires":[[]]},{"id":"956b362d3c90f8d8","type":"fs-file-lister","z":"1f0274a4dfdeb367","name":"","start":"data","pattern":"*.*","folders":"*","hidden":false,"lstype":"both","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":280,"y":40,"wires":[["0f7a8e6438a00194"]]},{"id":"0f7a8e6438a00194","type":"function","z":"1f0274a4dfdeb367","name":"Format properties","func":"for (var i=0; i<msg.payload.length; i++) {\n//  msg.payload[i].stat.size = msg.payload[i].stat.size / 1024;\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname=(msg.payload[i].stat.isFile?\"\":\"[\")+ msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+(msg.payload[i].stat.isFile?\"\":\"]\");\n//  msg.payload[i].link = msg.payload[i].stat.isDirectory ? \"\" : \"/download?filename=\" + msg.payload[i].name;\n    msg.payload[i].link=msg.payload[i].stat.isDirectory?\"\":\"<a href=\\\"/download?filename=\"+msg.payload[i].name+\"\\\"><img src=\\\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACf0lEQVR42mNkwAE0ApLF/wqIKwOZ/5k/vLxzY8Pc19jUMaILGPdsjfik4VDy5ieD0X+oPBPQEBF2htN8Nw50nynxXoPVADEzVw6himVLX/znCmLAAyQZv6142xEV/+rU7l8oBiitfrn2HRMPXDPQVgZWJgj797//DP+QHCv878uyu6Hi0XADJKuXR3438luGbJO7GAPDbP2/YHbqsc8MO7/wAVUzweW5zm0KetYauR5sgPCiJ2f/cgsa4TIg7fA7hl1vWRj+cfIDnQYxhPnL22Nv4+WsGZnldSR4+048AxrPCHOSuzgDg6nAf4ZUuX9gxbOvfWI49/4fw643TAy/OaCG/P//73ORmSgji56TDU/95sPItjuLMjDM1PvLwAZ18a+//xmyj31g2PcWKMDMzPCbnRfsnS/1nqaMzFrWtrzNuw6hhzbMEKBNYM37gZoZmRghbmRiZvjFxs3wqcrZjJFRQEKab86dx4yMjIyYhvxnYPnyjmH/G0awZogSKM3I+O9FmpY4WISn68h5FmVDfZAmTmYGBjvh/3BDmP7+YWD++xOs6cCL3wx/gBEMYv++dfrU63pfc7CtrFZB8dxFixaAwpGf5R9DtsRnRKwDxRih9NQ7fxl+MjCDDXjbEx/x48yOlTB1zFxFi9azWQf7gvzM+O8vA8uvL+DEBFIMcTHC+d8Or177fmpOGFDgH8LfrOx8XDkzl7Jah/iAFf//x8D2+xsDM5CGRTBU8/r3MwrjGP7+/oItM7GymvvFs/sX5DGrmWqDgo7t7w8Glr+///2+ffrS501TJ/44u3MJUN0fnLkRCtgYuQXkmMQVlBj+A93y8v7d/98+PgElCXSFAKXm39j74So1AAAAAElFTkSuQmCC\\\" /></a>\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":40,"wires":[["6479c9674ee4c649"]]},{"id":"ca2e646fd2bfb668","type":"ui_table","z":"1f0274a4dfdeb367","group":"160e81fb.f1c86e","name":"","order":4,"width":18,"height":8,"columns":[{"field":"fname","title":"Name","width":"55%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stat.size","title":"Size","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stat.created","title":"Created","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stat.changed","title":"Changed","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"link","title":"","width":"1%","align":"left","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":610,"y":120,"wires":[["9d3c9ab668d4d29d","0dbef6831f2ca330"]]},{"id":"965cd37574ac4720","type":"debug","z":"1f0274a4dfdeb367","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":560,"wires":[]},{"id":"6479c9674ee4c649","type":"sort","z":"1f0274a4dfdeb367","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"$lowercase(fname)\t","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":610,"y":40,"wires":[["ca2e646fd2bfb668"]]},{"id":"9d3c9ab668d4d29d","type":"switch","z":"1f0274a4dfdeb367","name":"is file?","property":"payload.stat.isFile","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":120,"wires":[["5f1be4ecc1b1bfe1"],["8acb2b7c94f075e9"]]},{"id":"0dbef6831f2ca330","type":"yaml","z":"1f0274a4dfdeb367","property":"payload","name":"","x":890,"y":40,"wires":[["ffa3ba810c0b280e"]]},{"id":"ffa3ba810c0b280e","type":"ui_template","z":"1f0274a4dfdeb367","group":"160e81fb.f1c86e","name":"","order":5,"width":6,"height":8,"format":"<b>Properties</b>\n<textarea rows=\"21\">{{msg.payload}}</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":900,"y":80,"wires":[[]]},{"id":"38da03d9810a48c7","type":"inject","z":"1f0274a4dfdeb367","name":"selectable","props":[{"p":"payload"},{"p":"ui_control","v":"{\"tabulator\":{\"selectable\":true}}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":450,"y":120,"wires":[["ca2e646fd2bfb668"]]},{"id":"fe580f16793866d0","type":"ui_spacer","z":"1f0274a4dfdeb367","name":"spacer","group":"160e81fb.f1c86e","order":9,"width":18,"height":1},{"id":"6f583621754d0767","type":"ui_spacer","z":"1f0274a4dfdeb367","name":"spacer","group":"160e81fb.f1c86e","order":13,"width":18,"height":1},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"b63d1f91.68095","order":1,"disp":true,"width":24,"collapse":false},{"id":"ddb72df8452ba7d7","type":"ui_group","name":"Desktop","tab":"b63d1f91.68095","order":2,"disp":true,"width":24,"collapse":false},{"id":"af2fe563cfd2cfa6","type":"ui_group","name":"Mobile","tab":"b63d1f91.68095","order":3,"disp":true,"width":"6","collapse":false},{"id":"b63d1f91.68095","type":"ui_tab","name":"Files","icon":"dashboard","disabled":false,"hidden":false}]